.supportdev {
  width: 100%;
  background-image: url("../../assets/homebg.jpg");
  background-color: var(--secondary);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: end;
  flex-direction: column;
  padding: 20px;
  top: 0;
  left: 0;
  z-index: 100;
  min-height: 100vh;
}
.supportdev header {
  position: sticky;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-between;
  padding: 15px;
}
.home__button {
  display: flex;
  gap: 10px;
}
.supportdev span {
  font-size: 24px;
  font-weight: 500;
  color: white;
}

.support_main_conatiner {
  color: white;
  text-shadow: 0 0 5px #000;
  display: grid;
  place-content: center;
  gap: 10px;
  padding: 15px;
  backdrop-filter: blur(10px);
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.supportdev main div {
  font-size: 24px;
}
.supportdev .img__container {
  width: 150px;
}
.supportdev .img__container .logo {
  width: 100%;
}
.supportdev p {
  color: cyan;
}
